@import 'default';

body, html {
    height: 100%;
    font-family:ExoThin;
}
.page{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    height:inherit;
}
.page__btn{
	padding:10px;
	border-radius:3px;
	background-color: white;
	&:hover{
		opacity:0.7;
	};
	font-size:16px;
	text-transform: uppercase;
	display:inline-block;
	cursor:pointer;
	font-weight: 700;
	border:0;
	font-family:ExoThin;
}
  	 #form {
         transition: all 0.5s linear;
         .form_close {
             float: right;
             background: none;
             border: none;
             color: white;
             cursor:pointer;
             &:hover{
		opacity:0.9;
	};
         }
         text-align: center;
         .popup {
            
             text-align: center;
             max-width: 350px;
             border-radius: 4px;
             background-color: rgba(252, 40, 40, 0.8);
             padding: 20px;
             input {
             	font-family:ExoThin;
                 border: 0px;
                 width: 100%;
                 padding: 10px;
                 margin-bottom: 10px;
                 text-align: left;
             }
             .btn{
				background-color:orange;
				text-align: center;
				cursor: pointer;
				margin-bottom: 0;
				&:hover{
		opacity:0.9;
	};
             }
         }
     }
     .text-error{
     	display: block;
    margin-bottom: 10px;
     }